.banner {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('../../img/texture-paper.png');
	background-attachment: fixed;
	background-size: 280px 280px;
	width: 100%;
	height: 450px;

	&::after {
		content: '';
		background-image: url('../../img/agence-la-panthere.avif');
		position: absolute;
		z-index: -1;
		background-attachment: fixed;
		width: 100%;
		height: 100%;
		background-size: 2;
		background-position: 0 800px;
	}

	&__title {
		color: $primary;
		font-size: 32px;
		font-weight: 400;
	}
}
