.banner {
	@include banner(
		-5px,
		url('../../img/agence-la-panthere.webp'),
		url('../../img/texture-paper.webp')
	);
	height: 440px;
	margin-top: 20px;

	&__title {
		color: white;
		font-size: 32px;
		font-weight: 400;
	}
}

@include for-tablet-and-mobile {
	.banner {
		height: 320px;
	}
}
