.banner {
	@include banner(
		-5px,
		url('../../img/agence-la-panthere.webp'),
		url('../../img/texture-paper.webp')
	);
	height: 440px;

	&__title {
		color: $primary;
		font-size: 32px;
		font-weight: 400;
	}
}
