.contact-banner {
	@include banner(
		0,
		url(../../img/agence-la-panthere.webp),
		url('../../img/texture-paper.webp')
	);
	height: 365px;
	text-align: center;

	&::before {
		background-attachment: scroll;
		background-size: cover;
		clear: both;
	}

	&__text {
		z-index: -1;
		margin-bottom: 30px;
		&__title {
			color: white;
			text-shadow: 2px 2px 0 black;
			font-size: 1.38em;
			font-weight: 400;
		}
	}
}

@include for-tablet-and-mobile {
	.contact-banner {
		height: 245px;
	}
}
