.contact-form {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;

	&__form {
		width: 485px;
	}

	&__infos {
		align-self: flex-start;
		margin-left: 30px;
		font-size: 0.8em;
		color: $secondary-text-color;
		line-height: 16px;
	}
}

@include for-tablet-and-mobile {
	.contact-form {
		flex-direction: column;
		width: 100%;

		&__form {
			width: 95%;
		}
	}
}
