.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin: auto;
	max-width: 1000px;

	&__nav {
		width: 180px;
		&__links {
			display: flex;
			justify-content: space-between;
			list-style-type: none;
			&__link {
				&__a {
					color: rgb(87, 87, 87);
					text-decoration: none;
				}
			}
		}
	}
}