.presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1000px;
	margin: 70px auto;

	&__title {
		display: block;
		color: $secondary-text-color;
		font-size: 22px;
		font-weight: 400;
		text-align: center;
	}
	&__desc {
		display: flex;
		margin: 0 85px;
	}
}

@include for-tablet-and-mobile {
	.presentation {
		&__desc {
			flex-direction: column;
			margin: 0;
		}
	}
}
