.teaser-banner {
	display: flex;
	align-items: center;
	justify-content: center;
	@include banner(
		0,
		url('../../img/image-de-presentation.webp'),
		url('../../img/texture-paper.webp')
	);
	height: 560px;

	&::before {
		clear: both;
		background-size: cover;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 520px;
		height: 280px;
		padding: 40px;
		text-align: center;
		background-image: url(../../img/texture-paper.webp);
		background-color: rgba(black, 0.5);
		background-size: 280px 280px;

		&__title {
			color: lighten($primary, 35%);
			font-weight: normal;
			font-size: 1.38em;
			line-height: 1.4em;
		}

		&__desc {
			color: white;
			font-size: 0.8em;
		}

		&__link {
			color: white;
			font-size: 0.7em;
			font-weight: 900;
		}
	}
}

@include for-teaset-banner {
	.teaser-banner {
		&__text {
			padding: 5%;
			width: 90%;
			height: 70%;
		}
	}
}
