.back-to-top {
	display: none;
}

@include for-tablet-and-mobile {
	.back-to-top {
		$offset: 50px;

		margin: 0;
		padding: 0;

		display: inline;
		position: sticky;
		margin-top: calc(100vh + $offset);

		border-radius: 5px;
		font-size: 1.3em;
		padding: 10px;
		bottom: 20px;
		left: 100vw;
		margin-right: 20px;
		color: #575757;
		background-color: rgba($color: #000000, $alpha: 0.3);
		z-index: 5;
	}
}
